html, body {
   margin: 0;
   padding: 2rem;
   color: white;
   background-color: grey;
}

h1 {
   text-align: center;
}

#instructions {
   text-align: center;
}

#canvas-container {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}